<!-- Post_entry Footer -->
<div class="post_content-footer">
  <div class="post_entry-footer-border"></div>
  <div class="post_entry-footer-info">
    <div class="post_entry-footer-date">
      <%= date(page.date, 'YYYY.M.D') %>
    </div>
    <!-- Post Tags -->
    <%- list_tags(page.tags, {
      show_count: false,
      class: 'post_entry-tags',
      style: 'list',
      separator: ''
    }) %>
      </div>
    </div>
