<!-- Null Thumbnail -->
<!-- <div class="post_thumbnail-null">
</div> -->
<!-- </div> -->

<!-- Post_entry Content -->
<div class="post_entry-content mdl-color-text--grey-600">
  <!-- Post Title -->
  <p class="post_entry-title">
    <a href="<%= url_for(post.path) %>"><% if(pin) { %><span>[Top]</span><% } %><%= post.title %></a>
  </p>

  <%- partial('_partial/Isolation-post_entry-excerpt')  %>
  </div>
